<div class="muuri-grid">
{{#each characters as |character|}}
  <div class="item">
    <a {{action "select" character}} class="item-link">
      <div class="item-content card card-hover">
        <div class="card-divider">
          {{character.name}}
        </div>
        <img src={{character.thumbnail}}>
        {{#if character.description}}
        <div class="card-section">
          {{character.description}}
        </div>
        {{/if}}
      </div>
    </a>
  </div>
{{/each}}
</div>

{{yield}}