<div class="muuri-grid">
{{#each characters as |character|}}
  <div class="item">
    <a {{action "viewCharacter" character}} class="item-link">
      <div class="item-content card card-hover">
        <div class="card-divider">
          {{character.name}}
        </div>
        <img src={{character.thumbnail}}>
        {{#if character.description}}
        <div class="card-section">
          {{character.description}}
        </div>
        {{/if}}
      </div>
    </a>
  </div>
{{else}}
  <div class="panel panel panel--disclaimer">
    <div class="column small-12">
      <h2 class="panel__title">No Characters Found</h2>
      <div class="panel__content">
        You have no characters in your favourites. Click &quot;Characters&quot; in the side menu, then select a character and click &quot;Add To Favourites&quot;.
      </div>
    </div>
  </div>
{{/each}}
</div>

{{yield}}