<div class="page__header--desktop show-for-medium-up">
  <div class="page__header-login-logout">
    <div class="row">
      <div class="large-12 column">
        <div class="row">
          <span class="page__header-greeting">Welcome,</span> <span class="page__header-user-name">Todo Sign-in</span> <a href="#" class="action action--circle action--logout right"><span class="icon icon-lock"></span></a>
        </div>
        <div class="row">
          <div class="page__header-page-title">
            <a href="#"><span class="icon icon-user icon--prefix"></span>Character Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page__content">
  <div class="row">
    <div class="large-12 column">
    </div>
    <div class="large-12 column">
      <div class="section__content">
        <div class="panel">
          <div class="column small-6">
            <h2 class="panel__title">{{model.name}}</h2>
            <div class="panel__content">{{model.description}}</div>
            {{#if model.favourite}}
              <a {{action "removeFromFavourites" model}} class="button">Remove Favourite</a>
            {{else}}
              <a {{action "addToFavourites" model}} class="button">Add To Favourites</a>
            {{/if}}
          </div>
          <div class="column small-6 panel__aside">
            <img src={{model.thumbnail}} class="profile-image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>